# Model Configuration
BASE_MODEL_NAME=meta-llama/Meta-Llama-3-8B-Instruct
DEVICE=cuda
DTYPE=bfloat16

# Hugging Face Configuration
HF_TOKEN=
HF_DATASET_NAME=al3obdi/thaqafa-repe-vectors
HF_SPACE_NAME=al3obdi/thaqafa-repe-extraction

# Paths
DATA_DIR=./data
CHECKPOINTS_DIR=./checkpoints
OUTPUT_DIR=./outputs
